*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-img-height: 85vh;
  --nav-width:80%
}

body{
  background-color: #eff;
}
.chayi{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: green;
}
.text-container{
  height: 85vh;
  width: 85%;
  margin: 0 auto;
  border: 5px dotted green;
  font-size: 26px;
}
.text-container{
}
.container{
  width: 100%;
  height: var(--bg-img-height);
  background-image: url(./Images/bg01.jpg);
  background-size: 100% var(--bg-img-height);
}

.nav{
  margin: 1vh auto;
  width: var(--nav-width);
  height: calc(100vh - var(--bg-img-height) - 2vh);
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  border-radius: 10px;
  border-color: #fff;
}

.nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav ul li{
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

/* 这里再看一下 */
.nav ul li a{
  text-decoration: none;
  color:rgb(70,100,180);
  /* 字体设置一下 */
  font:100 30px '优设标题黑';
  display: block;
  width: 100%;
  height: 100%;
  line-height: 70px;
}

.nav ul .nav-box{
  position: absolute;
  bottom: 1vh;
  /* 这里的100%是整个页面的! */
  width: calc((80% / 4)*1);
  height: 10px;
  /* 边缘冲突,不好看 */
  border-radius: 2px;
  transition: .5s;
}

.nav ul li:nth-child(1):hover~.nav-box{
  left: calc(80% / 4*0 + 10%);
  background-color: rgb(63, 126, 155);
}
.nav ul li:nth-child(2):hover~.nav-box{
  left: calc(80% / 4*1 + 10%);
  background-color: rgb(140, 58, 58);
}
.nav ul li:nth-child(3):hover~.nav-box{
  left: calc(80% / 4*2 + 10%);
  background-color: rgb(64, 83, 37);
}
.nav ul li:nth-child(4):hover~.nav-box{
  left: calc(80% / 4*3 + 10%);
  background-color: rgb(90, 38, 89);
}